@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Courier Prime', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.Toastify__toast {
  @apply bg-main;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1D2123;
  }
}
